<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: Sunday,20 October 2010 15:43</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, I'm very happy to show you my first web made with django </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>This is my second web made with Django</p>
        </div>
    </body>
</html>